.burgerConstructor {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 100px 0 40px;
  width: 600px;
  max-height: 600px;
}

.buns {
  align-self: center;
  padding-left: 30px;
  max-height: 80px;
}

.scroll {
  scroll-behavior: auto;
  display: flex;
  flex-direction: column;
  max-height: 190px;
  overflow-y: scroll;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  margin: 0 5px 0 0;
}

.order {
  display: flex;
  gap: 40px;
  margin-top: auto;
}

.price {
  align-items: center;
  display: flex;
}
