.tab {
  display: flex;
  padding: 20px 0 20px;
}

.burgerIngredients {
  display: flex;
  flex-direction: column;
  margin: 40px 0 40px;
  width: 600px;
  height: 912px;
}

.scrollIngredients {
  scroll-behavior: auto;
  display: flex;
  flex-direction: column;
  max-height: 600px;
  overflow-y: scroll;
}

.list {
  margin: 0;
  padding-left: 0;
  display: flex;
  gap: 32px 24px;
  flex-wrap: wrap;
}
